@import "tailwindcss";

/* space-grotesk-latin-wght-normal */
@font-face {
    font-family: 'Space Grotesk Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 300 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/space-grotesk:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
.bFont {
    font-family: 'Space Grotesk Variable', sans-serif;
    font-weight: 700;
}

p span {
    font-family: 'Space Grotesk Variable', sans-serif;
    font-weight: 300;
}

p {
    font-size: 1.25rem;
    text-align: left;
}

.lFont {
    font-family: 'Space Grotesk Variable', sans-serif;
    font-weight: 300;
}

.mlText {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    background-color: yellow;
    /* bg-yellow-400 */

}

.monkeText {
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    background-color: orange;
    /* bg-yellow-400 */
}

.mlText:hover,
.monkeText:hover {
    font-family: 'Space Grotesk Variable', sans-serif;
    font-weight: 700;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.img-border {
    border-radius: 1rem;
    pointer-events: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}